<div class="container view">
	<div class="row">
		<h2 id="tables-condensed">Tabla de Productos<a href="#tables-condensed"></a></h2>
	</div>
	<div class="row">
		<button type="button" class="btn btn-primary pull-right" data-ng-click='showModalAddProduct($event)'>Nuevo Producto</button>
		<br>
		<br>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Nombre</th>
						<th>Descripcion</th>
						<th>Tipo Producto</th>
						<th>Codigo</th>
						<th>Stock</th>
						<th>Opciones</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat='product in products'>
						<td>{{$index + 1}}</td>
						<td>{{product.Name}}</td>
						<td>{{product.Description}}</td>
						<td>{{product.ProductType.Name}}</td>
						<td>{{product.Code}}</td>
						<td>{{product.Stock}}</td>
						<td>
							<a title="Editar Producto" href="#" class="options-grid" data-ng-click='showModalEditProduct($event,product);'>
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
							<a title="Eliminar Producto" href="#" class="options-grid" data-ng-click='showModalConfirmation($event,product);'>
								<span class="glyphicon glyphicon-trash"></span>
							</a>
							<!--
							<a href="#" class="options-grid" data-ng-click='viewProduct($event,product);'>
								<span class="glyphicon glyphicon-search"></span>
							</a>
-->
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>



<!-- Modal -->
<div class="modal fade" id="modal-product" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">{{product.title}}</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="product-name">Nombre</label>
						<input type="text" class="form-control" data-ng-model='product.Name' id="product-name" placeholder="Nombre Producto">
					</div>
					<div class="form-group">
						<label for="description">Descripcion</label>
						<input type="text" class="form-control" data-ng-model='product.Description' id="description" placeholder="Descripcion">
					</div>
					<div class="form-group">
						<label for="type-product">Tipo Producto</label>
						<select class="form-control" ng-options="productType as productType.Name for productType in productTypes" ng-model="product.ProductType">
						</select>
					</div>
					<div class="form-group">
						<label for="code">Cantidad</label>
						<input type="text" class="form-control" data-ng-model='product.Code' id="code" placeholder="Cantidad">
					</div>
					<div class="form-group">
						<label for="code">Codigo</label>
						<input type="text" class="form-control" data-ng-model='product.Code' id="code" placeholder="Codigo">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click='saveProduct();'>Guardar</button>
			</div>
		</div>
	</div>
</div>

<data-modal-confirmation title="Confirmacion" button-accept="true" modal-id='modal-confirmation-product' button-cancel="true" message="Estas seguro de Eliminar {{product.Name}}" confirm-action="deleteProduct()"></data-modal-confirmation>
