<div class="modal fade modal-confirmation" id="{{modalId}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">{{title}}</h4>
			</div>
			<div class="modal-body">
				<span>{{message}}</span>
			</div>
			<div class="modal-footer">
				<button data-ng-show="buttonCancel" data-ng-click="onCancelAction();" data-dismiss="modal"  type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				<button type="button" data-ng-show="buttonAccept" data-dismiss="modal"  class="btn btn-warning" data-ng-click="onConfirmAction();">Confirmar</button>
			</div>
		</div>
	</div>
</div>
