<div class="container view">
	<div class="row">
		<h2 id="tables-condensed">Lista de Usuarios<a href="#tables-condensed"></a></h2>
	</div>
	<div class="row">
		<button type="button" class="btn btn-primary pull-right" data-ng-click='showModalAddUser($event)'>Nuevo Usuario</button>
		<br>
		<br>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Fecha de Ingreso</th>
						<th>Rol</th>
						<th>Nombre de Usuario</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat='user in users'>
						<td>{{$index + 1}}</td>
						<td>{{user.Name}}</td>
						<td>{{user.LastName}}</td>
						<td>{{user.EnterDate.toDate()}}</td>
						<td>{{user.Role.Name}}</td>
						<td>{{user.UserName}}</td>
						<td>
							<a href="#" title="Editar Usuario" class="options-grid" data-ng-click='showModalEditUser($event,user);'>
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
							<a title="Eliminar Usuario" href="#" class="options-grid" data-ng-click='showModalConfirmation($event,user);'>
								<span class="glyphicon glyphicon-trash"></span>
							</a>
<!--
							<a href="#" class="options-grid" data-ng-click='viewProduct($event,user);'>
								<span class="glyphicon glyphicon-search"></span>
							</a>
-->
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>



<!-- Modal -->
<div class="modal fade" id="modal-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">{{user.title}}</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<input type="text" class="form-control" data-ng-model='user.Name' id="user-name" placeholder="Nombre Usuario">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" data-ng-model='user.LastName' id="description" placeholder="Apellido">
					</div>
					<div class="form-group">
						<input type="text" data-datepicker class="form-control" data-ng-model='user.EnterDate' id="type-product" placeholder="Fecha de Ingreso">
					</div>
					<div class="form-group">
						<select class="form-control" ng-options="role as role.Name for role in roles" ng-model="user.Role">
							<option default>Seleccione un Rol</option>
						</select>

					</div>
					<div class="form-group">
						<input type="text" class="form-control" data-ng-model='user.UserName' id="username" placeholder="User Name">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" data-ng-model='user.Password' id="password" placeholder="Password">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" data-ng-model='user.PasswordHash' id="verify-password" placeholder="Password">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-primary" data-ng-click='saveUser();'>Guardar</button>
			</div>
		</div>
	</div>
</div>


<data-modal-confirmation title="Confirmacion" button-accept="true" modal-id='modal-confirmation-user' button-cancel="true" message="Estas seguro de Eliminar {{user.Name}}" confirm-action="deleteUser()"></data-modal-confirmation>
